<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name = "Movies"
			 connectionString ="
						Data Source=(localdb)\MSSQLLocalDB;
						Initial Catalog=Movies;
						Integrated Security=True;
						Encrypt=False;
						TrustServerCertificate=False;
						ApplicationIntent=ReadWrite;
						MultiSubnetFailover=False;
			 "

		/>
		<add name="P_421_Import"
			 connectionString =" 
			 Data Source=DESKTOP-EEBLL69\SQLEXPRESS;
			 Initial Catalog=P_421_Import;
			 Integrated Security=True;
			 Encrypt=False;
			 TrustServerCertificate=True;
			 ApplicationIntent=ReadWrite;
			 MultiSubnetFailover=False;
			 
			 "
			
	
		
		/>
	</connectionStrings>	
	
	
</configuration>